@import "compass/css3";
@import "compass/typography/text/ellipsis";
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css';

.loading{
    pointer-events: none;
    @include opacity(0.5);
}

body{
    
    .postbox#custom-post-links{

        td{
            overflow:hidden;
            input[type='text']{
                width:100%;
            }
        }
        
        .column-name .ellipsis{
            display:block!important;
            @include ellipsis($no-wrap: true);
        }

        .column-reorder,.column-favicon {
            width: 2em;
            text-align:center;
        }
        
        .ellipsis{
            
        }
        
        .column-category{
            ul{
                list-style: none;
                padding:0;
                margin:0;
            }
        }

        .cp-links-favicon{
            display: inline-block;
            width: 2em;
            height: 2em;
            background-position: center center;
            background-repeat: no-repeat;
        }


        #the-list {

            tr{
                .cp-links-data{
                    &.cp-links-data-display{
                        display:inherit;
                    }
                    &.cp-links-data-edit{
                        display:none;
                    }
                }
                &.cp-links-row-edit{
                    .cp-links-data{
                        &.cp-links-data-display{
                            display:none;
                        }
                        &.cp-links-data-edit{
                            display:inherit;
                        }
                    }
                    .row-actions{
                        display:none;
                    }
                }
            }


            .cp-links-link-draghandle {
                text-align: center;
                &:not(.disabled) {
                    cursor: pointer;
                    cursor: hand;
                }
                &.disabled{
                    opacity:0.5;
                }
            }

        }

        .cpl-metabox-section{
            padding:1em;
            //border-bottom:1px solid #ddd;
            &#add-link-section{
                table{
                    border:none;
                    margin:1em 0;
                    thead,tfoot{
                        display:none;
                    }
                    tr{
                        background:none;
                    }
                }
                #cp_links_add_new{
                    display:none;
                }
                &.has-js{
                    h4,table{
                        display:none;
                    }
                    #cp_links_add_new{
                        display:inherit;
                    }
                }
            }
            &#search-links-section{
                #search-links-form{
                    padding:1em;
                }
                .wp-list-table{
                    display:none;
                }
                &.has-search-term{
                    .wp-list-table{
                        display:table;
                    }
                }
                .cp-links-link-draghandle{
                    display:none;
                }

            }
            &:last-child {
                //border-bottom:0;
            }
        }

    }
    
    &.js{
        .postbox#custom-post-links{
            #the-list tr.cp-links-row-new:first-child{ //blank row
                display:none;
            }
        }
    }
    &.no-js{
        .postbox#custom-post-links{
            #add-link-section{
                .page-title-action{
                    display:none;
                }
            }
        }
    }
    
    
}
