body{
    .postbox#custom-post-links{

        .column-reorder {
            width: 20px;
        }

        #the-list {
            .cp-links-link-draghandle {
                cursor: pointer;
                cursor: hand;
                text-align: center;
            }

            tr.cp_links_new label {
                display: none;
            }
        }

        .cpl-metabox-section{
            padding:1em;
            //border-bottom:1px solid #ddd;
            &#add-link-section{
                #cp_links_add_new{
                    display:none;
                }
                &.has-js{
                    h4,table{
                        display:none;
                    }
                    #cp_links_add_new{
                        display:inherit;
                    }
                }
            }
            &#search-links-section{
                #search-links-form{
                    padding:1em;
                }
                .wp-list-table{
                    display:none;
                }
                &.has-search-term{
                    .wp-list-table{
                        display:table;
                    }
                }
                .cp-links-link-draghandle{
                    display:none;
                }
                
            }
            &:last-child {
                //border-bottom:0;
            }
        }




        #cp_links_new_wrapper p {
            text-align: right;
        }
    }
}
