li.cp-links {
    
    background-image: url('http://placehold.it/16x16');
    background-size: 16px 16px;
    background-position: left center;
    background-repeat: no-repeat;
  
    padding-left: 20px; /* Adjust according to image size to push text across. */
  
    &[data-cp-link-domain='wikipedia.org'] { /* example of custom icon regarding the link domain */
        background-image: url('https://wikipedia.org/static/favicon/wikipedia.ico');
    }
    
}

