/* line 4, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .column-reorder {
  width: 20px;
}
/* line 9, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links #the-list .cp-links-link-draghandle {
  cursor: pointer;
  cursor: hand;
  text-align: center;
}
/* line 15, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links #the-list tr.cp_links_new label {
  display: none;
}
/* line 20, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section {
  padding: 1em;
}
/* line 24, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#add-link-section #cp_links_add_new {
  display: none;
}
/* line 29, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#search-links-section #search-links-form {
  padding: 1em;
}
/* line 32, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#search-links-section .wp-list-table {
  display: none;
}
/* line 36, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#search-links-section.has-search-term .wp-list-table {
  display: table;
}
/* line 40, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#search-links-section .cp-links-link-draghandle {
  display: none;
}
/* line 53, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links #cp_links_new_wrapper p {
  text-align: right;
}
