/* line 4, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .column-reorder {
  width: 20px;
}
/* line 9, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links #the-list .cp-links-link-draghandle {
  text-align: center;
}
/* line 11, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links #the-list .cp-links-link-draghandle:not(.disabled) {
  cursor: pointer;
  cursor: hand;
}
/* line 15, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links #the-list .cp-links-link-draghandle.disabled {
  opacity: 0.5;
}
/* line 20, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links #the-list tr.cp_links_new label {
  display: none;
}
/* line 25, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section {
  padding: 1em;
}
/* line 29, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#add-link-section #cp_links_add_new {
  display: none;
}
/* line 33, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#add-link-section.has-js h4, body .postbox#custom-post-links .cpl-metabox-section#add-link-section.has-js table {
  display: none;
}
/* line 36, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#add-link-section.has-js #cp_links_add_new {
  display: inherit;
}
/* line 42, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#search-links-section #search-links-form {
  padding: 1em;
}
/* line 45, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#search-links-section .wp-list-table {
  display: none;
}
/* line 49, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#search-links-section.has-search-term .wp-list-table {
  display: table;
}
/* line 53, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links .cpl-metabox-section#search-links-section .cp-links-link-draghandle {
  display: none;
}
/* line 66, ../scss/cp_links-admin.scss */
body .postbox#custom-post-links #cp_links_new_wrapper p {
  text-align: right;
}
