@import "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
a.post-bkmark {
  box-shadow: none;
}
a.post-bkmark .post-bkmarks-favicon {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.2em;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  background-position: center center;
  background-repeat: no-repeat;
  padding-left: 20px;
  /* Adjust according to image size to push text across. */
}
a.post-bkmark[data-cp-link-domain='wikipedia.org'] .post-bkmarks-favicon {
  /* example of custom icon regarding the link domain */
  background-image: url("https://wikipedia.org/static/favicon/wikipedia.ico");
}

ul.post-bookmarks-list {
  list-style: none !important;
}
ul.post-bookmarks-list li {
  position: relative;
}
ul.post-bookmarks-list li i.fa-link {
  font-size: 0.75em;
  text-align: center;
  opacity: 0.2;
  margin-right: 0.2em;
}
